<!-- <div style="border-left: 1px solid black;"> -->
<div [hidden]="GTModel.hidden" [attr.data-cname]="GTModel.constructor.name" [attr.data-pcname]="GTModel.parent.constructor.name" data-id="tr-{{GTModel.parentModel.level}}-{{GTModel.parentModel.stt}}-{{GTModel.level}}-{{GTModel.stt}}" class="template-region">
  <!-- <p>Template Region {{GTModel.name}} {{GTModel.constructor.name}}</p> -->
    <ng-container *ngIf="GTModel.buildable; then someContent"></ng-container>
    <ng-template #someContent ><input type="button" value="Build {{GTModel.name}}" (click)="buildResult()"/></ng-template>

    <ng-container *ngIf="GTModel.commandCtrl; then btnCommandCtrl"></ng-container>
    <ng-template #btnCommandCtrl ><input type="button" value="{{GTModel.aliasCommand}}" (click)="commandCtrl()"/></ng-template>
    

    <ng-container *ngIf="GTModel.isBodyRow && GTModel.stt!=0; then bodyRow"></ng-container>
    <ng-template #bodyRow ><input type="button" value="Remove Row" (click)="removeRow()"/></ng-template>

    <ng-container *ngIf="GTModel.bodyRowMulti; then bodyRowMulti"></ng-container>
    <ng-template #bodyRowMulti >
        <select [(ngModel)]="GTModel.selectedName" (change)="changeMultiBody()">
            <option *ngFor="let value of GTModel.childs; let i=index "  [ngValue]="value.name">{{value.name}}</option>
          </select>
      <input *ngIf="GTModel.stt!=0" type="button" value="Remove Row Multi" (click)="removeRow()"/>
    </ng-template>

  <!-- <div style="margin-left:12px;"> -->
    <div >
    <ng-template #dynamic></ng-template>
    </div>
     <ng-template ad-host></ng-template>
</div>
