<div class="form-group" [attr.data-toggle]="'tooltip'" [attr.data-html]="'true'"  [title]="'Description: '+(GTModel.description!==undefined?GTModel.description:GTModel.name)+'</br>Default Value: '+(GTModel.value===undefined?'':GTModel.value)" [attr.data-id]="'tid-pl'+GTModel.parentModel.level+'-ps'+GTModel.parentModel.stt+'-cl'+GTModel.level+'-cs'+GTModel.stt" class="template-input-data col-sm-1">
  <!-- (keydown)="onKeyDown($event)" -->
  <ng-container [ngSwitch]="GTModel.inputType">
  <ng-container *ngSwitchCase="'BOOLEAN'" >
    <div class="form-control"   >
      <input #inputValue  class="checkbox" name="rememberMe" type="checkbox" value="{{GTModel.value}}" />
    </div>
    </ng-container>
  
  <input #inputValue #inputValue *ngSwitchCase="'TEXT'" class="form-control" type="text" value="{{GTModel.value}}"  placeholder="{{GTModel.value}}"/>
  <ng-container *ngSwitchCase="'LIST'">
      <select #inputValue  value="{{GTModel.value}}" class="form-control">
        <option *ngFor="let value of GTModel.values; let i=index "  [ngValue]="value._">{{value.$.alias}}</option>
      </select>
    </ng-container>
    <ng-container *ngSwitchCase="'EXCEL'">
      <input  type="button" class="btn btn-outline-primary" value="Select Excel File" (click)="onSelectExcelBtnClick()"/>
    </ng-container>
    <ng-container *ngSwitchCase="'DATALIST'">
      <input  #inputValue value="{{GTModel.value}}" attr.list="{{GTModel.level + 'inp_dropdown'+GTModel.key}}"  class="form-control" type="text" placeholder="{{GTModel.value}}">
      <datalist id="{{GTModel.level + 'inp_dropdown'+GTModel.key}}">
        <option *ngFor="let value of GTModel.values; let i=index "  [ngValue]="value._">{{value.$.alias}}</option>
      </datalist>
    </ng-container>
  <!-- <div  *ngSwitchDefault>Unknown</div>-->
</ng-container>

</div>